body {
  margin: 0;

}

.nav-bar {
  display: flex;
  justify-content: space-around;

}

.nav-bar ul li {
  list-style: none;
}

.nav-elements {
  display: flex;
}

.nav-elements li {
  margin: 0 20px;

}

.section-img {
  display: flex;
  justify-content: center;

 

}